    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">

            డిట్రాయిట్ తెలుగు సాహితీ సమితి
            ఇరవై ఏళ్ళ పండగ
            సెప్టెంబరు 29-30, 2018
            
            ఇదిగో అదిగో అంటూనే డిట్రాయిట్ తెలుగు సాహితీ సమితి (Detroit Telugu Literary Club) కి ఇరవై ఏళ్ళ వయసొచ్చేసింది. కేవలం తెలుగు పుస్తకాలు అందరూ కలిసి చదవడం కోసం, వాటిపై అభిప్రాయాలను తర్కించుకోవడం కోసం ఏర్పరచుకున్న సంస్థకు ఆడంబరమైన పండగల అవసరమైతే లేదుగానీ, నియమించుకున్న ఆశయాలను ఇన్నేళ్ళుగా నిలబెట్టుకోగలిగినందుకు వెన్ను తట్టుకోవడానికి చేస్తున్న ప్రయత్నమే ఈ ఇరవై ఏళ్ళ పండగ. సాహితీ సమితి సంబరాలకు తోటి సాహిత్యాభిమానులతో కలిసి సదస్సు నిర్వహించుకోవడంకన్నా సబబైనది మరొకటి ఉండబోదు. అందుకే తెలుగు సాహిత్యాభిమానులందరినీ ఈ ఇరవై ఏళ్ళ పండగ సందర్భంగా డిట్రాయిట్ కు ఆహ్వానిస్తున్నాం.
            
            రెండు రోజుల పాటు (సెప్టెంబరు 29, 30 తేదీలు, శని-ఆది వారాలు) జరిగే సదస్సుల్లో చర్చించదలుచుకున్న అంశాలు 1. ’తెలుగు ప్రామాణిక భాష’, 2. ‘తెలుగు ప్రచురణ వ్యవస్థ’, 3. ‘తెలుగు సాహితీ సమితులు’.
            
            1.	భాషాప్రయుక్త రాష్ట్ర విభజన కృత్రిమమనీ, అనాదిగా తెలుగు మాట్లాడే ప్రజలు దక్షిణ భారతం అంతా విస్తరించి ఉన్నారని, ఆలస్యంగానైనా అందరూ గుర్తిస్తున్నారు. ఈ సందర్భంగా తెలుగు రచనల్లో మాండలిక భాషోపయోగం రోజు రోజుకూ వృద్ధి పొందటం, దూరంగా ఉన్న మాండలికాల్లో కూడా విశేషంగా రచనలు జరగడం మంచి పరిణామం. వివిధ ప్రాంతాల మాండలికాలన్నిటికీ ఉమ్మడి భాష తెలుగే. ఇంత వైవిధ్యమున్న భాషకు విస్త్రుతమైన సమకాలీన ప్రామాణిక భాష ఆవశ్యకత, పరిమితులు, ఏర్పాటుకు చేయవలసిన ప్రయత్నాలు చర్చించడం మొదటి అంశం ఆశయం.
            2.	తెలుగు ప్రచురణల్లో కాలానుగుణంగా సాంకేతిక పరిణామాలు ఎన్ని జరుగుతున్నా, వ్రాత నియమావళి (style manual), ప్రచురణకు ముందు జరగవలసిన విమర్శ (pre-publication critique), వ్రాత సవరణ (copy editing) ల ఆధారంగా నడవవలసిన ప్రచురణ సంస్థల ఆవశ్యకతను చర్చించడం రెండవ అంశం ఆశయం.
            3.	డిట్రాయిట్ తెలుగు సాహితీ సమితి వంటి సంఘాలు అనేకం ఉన్నాయి. వాటి సాహిత్య, భాష, సంఘ, లేదా వ్యక్తిగత ప్రయోజనాలను చర్చించడం, ఇలాంటి సంస్థల అభివృద్ధి, భవిష్యత్తుల గురించి చర్చించడం మూడవ అంశం ఆశయం. ఈ మూడు అంశాల్లోని ఆశయాలను ప్రతిబింబించే విధంగా ఏదో ఒక నిర్దిష్టమైన విషయంపై 13 నిమిషాలకు మించకుండా ప్రసంగించ దలుచుకున్న వారు ప్రసంగ సంగ్రహాన్ని (200 మాటలకు మించకుండా) జూన్ 30, 2018 లోగా మాకు పంప వలసిందిగా కోరుతున్నాం. సదస్సులో ప్రసంగించడానికి ఎన్నుకోబడిన వారు, జూలై 30, 2018 లోగా తమ ప్రసంగం పూర్తి పాఠాన్ని పంపించవలసి ఉంటుంది. ప్రసంగ పాఠాలన్నీ సదస్సుకు ముందుగానే జ్ఞాపిక సంచికలో ప్రచురించి సదస్సులో ఆవిష్కరించడానికి చేస్తున్న మా ప్రయత్నాల మేరకు మాత్రమే ఈ నిబంధన అని మనవి.
            
            ఈ సదస్సుల్లో పాల్గొనడానికి ఎలాంటి ప్రత్యేక అర్హతా, రుసుమూ అవసరం లేదు. సదస్సుకు డిట్రాయిట్ రమ్మని ఆహ్వానించడం తేలికే గానీ ఉత్తర అమెరికాలోనే ఉన్న వారికైనా ప్రయాణం ఎంతో ఖర్చుతో కూడుకున్న వ్యవహారం. కానీ వచ్చిన వారికి అతిధి మర్యాదలు చేయగలమేగానీ ప్రయాణ ఖర్చులైతే పెట్టుకోలేం. పదేళ్ళ క్రితం ఈ సాహితీ సమితి దశ వార్షికోత్సవాలకు ఏర్పాటు చేసినట్టుగానే సభ్యుల ఇళ్ళల్లో నివాస వసతి వీలైనంతలో ఏర్పాటు చెయ్యగలం. రెండు రోజులూ భోజన సదుపాయాల బాధ్యతా మాదే. రాదలుచుకున్నవారు మాత్రం ఆగష్టు 31, 2018 లోగా మాకు తెలియజెయ్యమని మనవి. విందు కార్యక్రమంలో భాగంగా స్వీయ రచనా పఠనం కూడా ఉంటుంది. స్వీయ రచనా పఠనం చెయ్యదల్చుకున్నవారు సెప్టెంబరు 10, 2018 లోగా తెలియజేస్తే కార్యక్రమ నిర్వహణకు అనువుగా ఉంటుంది. అన్ని వివరాలకు dtlcgroup@gmail.com కు ఈమెయిల్ చెయ్యండి. మా ఆహ్వానాన్ని మన్నించి తెలుగు సాహిత్యాభిమానులందరూ రావాలని కోరుతున్నాం, వస్తారని ఆశిస్తున్నాం.
            
            సదస్సులో ప్రసంగించదలుచుకున్నవారు ప్రసంగ సంగ్రహాన్ని పంపవలసిన ఆఖరు తేదీ: జూన్ 30, 2018
            సదస్సులో పాల్గొనడానికి పేరు నమోదు చెయ్యడానికి ఆఖరు తేదీ: సెప్టెంబరు 1, 2018 (ఎంత త్వరగా ఐతే అంత మంచిది)
            స్వీయ రచనా పఠనం చెయ్యగోరువారు తెలుపవలసిన తేదీ: సెప్టెంబరు 10, 2018
            సదస్సులు జరిగే సమయం: సెప్టెంబరు 29, శనివారం, ఉదయం 10 గంటల నుండి సెప్టెంబరు 30, ఆదివారం, మధ్యాహ్నం 3 గంటల వరకు.
<p><a class="btn btn-primary btn-lg" routerLink="/register">నమోదు!</a></p>
            
            

          </div>
          </div>
          </div>