<div class="container">

    <div class="row my-4">

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o0zBQ3Tl6oI" allowfullscreen></iframe>
          </div>


          <div class="row my-2">


        <div class="col-lg-12">
            <div class="col-md-12">
                        
              </div>
    
    <div class="col-md-12">


      

        <h4>
        
        డిట్రాయిట్ తెలుగు సాహితీ సమితికి ఇరవై సంవత్సరాలు నిండుతున్న సందర్భంగా సెప్టెంబర్ 29, 30 తేదీలలో ఇరవై ఏళ్ల పండుగ జరగబోతోంది. ఆ పండుగ సందర్భంగా ప్రపంచ వ్యాప్తంగా తెలుగు యువజనులకు ఒక లఘు చిత్ర పోటీ నిర్వహించాలని సంకల్పించారు.  
     <br>
        ఈ పోటీ పేరు - " నా జీవితం లో తెలుగు"   </h4>
       <br>
      
        ఉద్దేశం:   తెలుగు యువతలో తెలుగు భాషానురక్తిని, తెలుగుసాహిత్యంపట్ల అభిరుచిని పెంపొందింపచేయడం. తమజీవితాలలో తెలుగు భాష ఎప్పుడు పరిచయం అయ్యింది,  తెలుగు భాష మీద ప్రేమ ఎప్పుడు కలిగింది, ఎందుకు కలిగింది,తెలుగు భాష మీద అభిప్రాయాలు, ప్రస్తుత సమాజంలో తెలుగు భాషాపరంగా ఆశించే మార్పులు,తెలుగు గొప్పతనం ఎప్పుడు ఎలా తెలిసింది మొదలైన అంశాలపై భావ వ్యక్తీకరణను ప్రోత్సహించడం. పోటీ ఈ అంశాలకు మాత్రమే పరిమితం కాదు. తెలుగు భాషకు సంబంధించిన ఏ అంశాన్నైనా ఎన్నుకోవచ్చు.
     
        <br>
    <p>
        ముఖ్య నిబంధనలు <br>
        1. నాలుగు నుంచి ఆరు నిమిషముల నిడివి గల యూట్యూబ్ వీడియో లింక్ డిటియల్సి (క్రింద జతపరిచిన ) ఈమెయిలుకు పంపాలి.  ఆ  వీడియో లో మొదటి నిమిషములో - ఈ వాక్యాలను తెలుగులో చెప్పాలి (ఖాళీలలో తగిన వివరాలు పూర్తిగా వాడండి).
       <br>
        నా పేరు ______, నా చిరునామా ________, నా ఫోన్ నంబర్ __________, <br>
        నా ఈమెయిలు ______. నా వయసు పోటీ నిబంధనలను అతిక్రమించదు.నేను ఈ వీడియోను డిటియల్సి 20 సంవత్సరాల వేడుక సందర్భంగా నిర్వహిస్తున్న యువజన పోటీ ‘నా జీవితంలో తెలుగు’ కు పంపుతున్నాను. ఈ వీడియోను ఇంతకు ముందు ఎప్పుడూ, ఎక్కడా, ఏభాషలోనూ ప్రసారం చెయ్యలేదు. ఇది వేరే ఏ వీడియోకు నకలు కాదు. ఈ వీడియోను డిటియల్సీ వారు బహుమతికి గాని, లేక వేరే ఏ ప్రయోజనాలకు గాని ఎన్నుకుంటే, దీనిపై సర్వహక్కులు డిటియల్సికే చెందుతాయి. ఇది నేను స్వచ్ఛందంగా ఇస్తున్న హామీ.
        <br>
        
        2. మిగిలిన  రెండు నుంచి ఆరు నిమిషముల వీడియో వారు చెప్పగలిగినది - నృత్య ,గాన, పద్య , గద్య, అభినయ రూపంలోనే  ఉండాలి.  తెలుగులోనే ఉండాలి. <br>
        
        3. ఎన్నుకున్న వీడియోలు మాత్రమే డిటియల్సి వెబ్సైటు లో పెట్టడం, వాటిలో నుండే బహుమతులు ప్రకటించడం జరుగుతుంది.<br>
        4 . మొదటి బహుమతి: రు. 30,000, రెండవ బహుమతి: రు. 20,000, మూడవ బహుమతి: రు. 10,000<br>
        
        5. పోటీలో పాల్గొనే ముఖ్య పోటీదారుల వయస్సు - 13 నుండి 33 సంవత్సరముల మధ్య వారే ఉండవలెను. <br>
        6. వీడియో లింకులు మాకు చేరవలసిన ఆఖరి తేదీ: 10/21/2018<br>
        7.పంపే ఈమెయిల్:  contact@dtlcgroup.org, info@myramedia.net<br>
        8. ఫలితములు :  11/07/2018<br>
        
    </p>
    <p>
        గమనించ వలసిన అంశాలు <br>
        
        ఈ పోటీ మన తోటి  తెలుగు వారు తెలుగు భాష అభివృద్ధికి ఏమిచెయ్యాలి, తెలుగు భాష అభివృధికి ప్రభుత్వాలు ఏమి  చెయ్యాలి అని చెప్పే పోటీ కాదు. <br>
        
        
        రెండు నుంచి ఆరు  నిమిషాల వీడియోలో చెప్పదలుచుకున్న విషయాలకు రెండు ఉదాహరణలు:<br>
        
        నా జీవితంలో తెలుగు: <br>
        
           నెమలికన్ను! చిన్నప్పడు అది ఎంత అపురూపమైనదో! తళుకులీనుతూ ఉన్న ఆ కన్నుని సుతారంగా బుగ్గ మీద నిమురుతున్నప్పుడు ఎంత ఆనందమో! పుస్తకంలో ఎంత అపురూపంగా దాచుకోనేవాళ్ళమో. జీవితం కూడా ఒక పుస్తకమే. అమ్మ భాష "తెలుగు బాస" గూర్చి నా జీవిత పుస్తకంలో దాచుకున్న అలాంటి అపురూప జ్ఞాపకాల నెమలికన్నులు ఎన్నో! ఎన్నెన్నో!
           <br>
          అమ్మ జోలపాటయే, ఏబిడ్డ అయినా మొట్టమొదట తెలుగులో వినే ఆత్మీయ సాహిత్యం, అన్న విషయాన్ని ఎవరు కాదనగలరు?<br>
          <br>
          అమ్మ, అత్త, తాత - అని పసిపాప నోట పలికే తొలి పదాలే అనుబంధాల మాలికలై జీవితాంతం సుగంధాలను విరజిమ్ముతాయన్న  విషయాన్ని ఎవరు మరిచిపోగలరు? <br>
          <br>
          "తల్లీ నిన్ను దలంచి పుస్తకము‌ చేతన్‌ బూనితిన్‌ నీవు నా
        యుల్లంబందున నిల్చి జృంభణముగా నుక్తుల్‌ సుశబ్దంబు శోభిల్లన్‌
        బల్కుము నాదు వాక్కునన్‌";- అనే పద్యాన్ని పిల్లల చేత
        చెప్పిస్తూ సరస్వతీ దేవిని ప్రార్థింపచేసి అక్షరాభ్యాసం
        చేయించేవారు.<br>
        
         "భారత దేశము నా మాతృభూమి , భారతీయులందరూ నా సహోదరులు" అంటూ తెలుగులో చేసే ప్రతిజ్ఞ, మన మనస్సులో ఓ నిబద్ధతను ఏర్పరిచేది.  <br>
        
          తెలుగు వాచకం తెరవగానే ";చేత వెన్నముద్ద చెంగల్వ పూదండ; తో చిన్నికృష్ణుడు ముద్దుముద్దుగా దర్శనం ఇచ్చేవాడు.<br>
        
         "శ్రీ రాముని దయచేతను, నారూఢిగ సకల జనుల నౌరాయనగా, ధారాళమైన
        నీతులు, నోరూరగ జవులుబుట్ట నుడివెద సుమతీ...!" అంటూ  లోకములో నీతి
        మార్గమును ఆచరించి బోధించిన శ్రీరాముని అనుగ్రహమూ, ఆశీస్సులనూ
        అందించే పద్యాన్ని మరచిపోలేం కదూ!<br>
        
        <br>
        ========================
        నిత్య జీవితంలో తెలుగు<br>
        
        ఎంతైనా తెలుగు వాళ్ళం. మన అమ్మ భాష తెలుగు కాదు. తెలుగు భాష మన అమ్మ.అమ్మ అబ్బ అనేమాటలు అప్రయత్నంగానే వస్తాయి. ఊహ తెలియనప్పుడు,అమ్మే లోకం. అమ్మ మాటే వేదం.పిలిస్తే పలికేది అమ్మ. పలకనిది బొమ్మ. అమ్మా అమ్మా అని వెంట తిరుగుతాం. అమ్మకు చెప్తా అనిఅందరినీ భయపెడ్తాం.కాస్త ఊహ వచ్చేసరికి, నాన్న అంటే అబ్బ కూడాతోడవుతాడు.
        <br>
        రామదాసు ఎవడబ్బ సొమ్ము అని రాముడినే నిలేసాడు.బాధకు అబ్బా అని, ఆ తరువాత అమ్మా అనిమూలుగుతాం.
        అబ్బో, అమ్మో అని ఆపసోపాలు పడతాం.కాస్త పెద్దయింతర్వాత, అమ్మ బాబోయ్, అన్ని లెక్కలూతప్పేమో అనో, ఒక్క తెలిసిన ప్రశ్న పరీక్షలో రాలేదనోబాధపడతాం.
        వయసొచ్చింతర్వాత, అమ్మ దీనమ్మ, ఏముందిరా ఈ పిల్లఅని గుస గుసలాడుతాం.సంతోషం, ఆనందం, దుఃఖం, హాస్యం అన్నింటినీ తెలుగుభాషలోనే ఆలోచిస్తాం.
        మనకు కలలలో తెలుగులోనే అందరూమాట్లాడుకుంటారు.అమెరికాలో ఉన్నందువల్ల ఇంగ్లీషులో సంభాషణలుఉండవు.
        రేపేం చెయ్యాలో, తెలుగులో అలోచిస్తాం.ఒక రకంగా, క్షణ క్షణం అమ్మ చుట్టూ, అంటే తెలుగమ్మచుట్టూనే మన ఆలోచనలు.
        మన తెలుగు భాష మీద మరింత పట్టు సంపాదిద్దాము.భాష మంచిదైతే భావాలు మంచివవుతాయి.<br>
        
        మంచి భావాలు మంచి బుద్ధికి దోహదం చేస్తాయి. మంచి బుద్ధి మంచి ఎదుగుదలకు దారి తీస్తుంది<br>
        ===================<br>
        ఇవి కేవలం ఉదాహరణలు మాత్రమేనని గుర్తించండి. మీ సృజనాత్మకత కొద్ది వస్తువును ఎన్నుకోవడంలోను, ప్రదర్శించడంలోను వైవిధ్యాన్ని చూపించడానికి ప్రయత్నించండి.<br>
    </p>
<!--         <div>
    <span class="badge">Posted 2018-08-02 20:47:04</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span></div>         
         </div> -->
     
    </div>
    </div>
    </div>
    </div>
    </div>
    