<div class="inner">

<section id="about" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>మా గురించి</h2>
          <p>
            1998 డిసెంబరులో ఒక ఆదివారం మధ్యాహ్నం Ann Arbor Public Library లో
            మొదటిసారి సమావేశమైనప్పుడు, ఇదొక క్లబ్ గా ఏర్పడుతుందని, ఇన్నాళ్ళు
            నిర్విఘ్నంగా నడుస్తుందని ఎవరూ ఊహించలేదు సరిగదా, ఆ ఆలోచనే ఎవరికీ రాలేదు. ఈ
            సమావేశం జరగడానికి సుమారు ఒక సంవత్సరం ముందు ఆరి సీతారామయ్య గారు
            డిట్రాయిట్ తెలుగు అసోసియేషన్ పత్రిక వార్తావాహినిలో &#39;తెలుగు సాహిత్యం
            చదివి చర్చించడానికి ఇష్టపడేవారున్నారా&#39; అని చేసిన ప్రకటనకు ఎవరూ పెద్దగా
            స్పందించిన దాఖలాలు లేవు. కానీ ఎలాగైతేనేం ఈ మొదటి సమావేశానికి సుమారు
            పదిహేనుమంది వరకూ వచ్చారు. వచ్చినవారందరి పేర్లూ ఇప్పుడు గుర్తులేవుగాని
            గుర్తున్నంతవరకు: శంకగిరి నారాయణస్వామి, ఆరి సీతారామయ్య, కట్టా
            గోపాలకృష్ణమూర్తి, కట్టా విజయ, కన్నెగంటి రామారావు, మద్దిపాటి కృష్ణారావు,
            ముప్పిరాల రవికుమార్, కనకమేడల సీతారామయ్య, వేమూరి సురేష్ బాబు. కొందరు తమకు
            నచ్చిన కవితల్ని తీసుకువచ్చి చదవగా, కనకమేడల సీతారామయ్య గారు తనకున్న
            పద్యనాటకానుభవంతో తిరుపతి వేంకటకవుల పద్యాలను, జాషువా పద్యాలను ఎంతో
            శ్రావ్యంగా పాడి వినిపించడం అందరికీ ఇప్పటికీ గుర్తే. వేమూరి సురేష్ బాబు గారు
            పాఠకుల నోట్లో ఆడని కవితల్ని చదివే బదులు నోటికొచ్చిన చక్కటి వేమన, సుమతీ శతక
            పద్యాలను వినిపించారు. ఇలా సాగిన సమావేశం లైబ్రరీ వారు మూసేస్తున్నాం
            పొమ్మనే వరకూ నడుస్తూనే ఉంది. అమెరికా వచ్చాక తెలుగు పుస్తకాలు చదవడం
            తగ్గిపోయి, తెలిసిన కాస్తో కూస్తో తెలుగు సాహిత్యాన్ని నలుగురితో
            పంచుకోవడంలో ఉన్న ఆనందం అనుభవంలోకి రావడమే దీనిక్కారణమని వేరే
            చెప్పక్కర్లేదు. అప్పుడే మళ్ళీమళ్ళీ కలవాలన్న నిర్ణయం జరిగింది. తరవాత
            సమావేశాలు 1999 ఫిబ్రవరిలోను, ఏప్రిల్ 25న, జూన్ 6, ఇలా వరసగా జరుగుతూ వచ్చాయి.
            ఇదే సమయంలో చేకూరి రామారావు గారు డిట్రాయిట్ లో ఉండడంతో ఆయన కూడా ఈ
            సమావేశాల్లో పాల్గొనేవారు. తెలుగు సాహిత్యంలో ప్రఖ్యాత విమర్శకుడిగా
            పేరున్న చేరా గారి సాంగత్యంతో సమావేశాల్లో చర్చలకు ఒక పద్ధతి, క్రమం
            ఏర్పడ్డాయి. కేవలం కవితా పఠనాలే కాకుండా, కథలపైన, నవలలపైన చర్చలు
            ప్రారంభమయ్యాయి. సుమారు ఒక సంవత్సరం పాటు రెండు నెలలకొకసారి క్రమంగా
            జరిగిన సమావేశాలు 2000 సంవత్సరం ఉత్తరార్ధంనుండి కాస్త క్రమం తప్పుతూ
            వచ్చాయి. ఐతే మళ్ళీ 2001 చివరికల్లా ఒక నిర్దిష్ఠ ప్రణాళికతో ఆరువారాలకొకసారి
            సమావేశాలు జరగడం మొదలై ఇప్పటివరకూ కొనసాగుతూనే ఉన్నాయి.
            ఈ ఇరవై ఏళ్ళలో జరిగిన మార్పులకు కొదవు లేదు. ఐతే ఇంచుమించు జరిగిన
            మార్పులన్నీ అభివృద్ధి దిశగానే జరిగాయని మాత్రం చెప్పగలం. 2002లో వంగూరి
            ఫౌండేషన్ ఆఫ్ అమెరికా వారు రెండేళ్ళకొకసారి నిర్వహిస్తున్న అమెరికా తెలుగు
            సాహితీ సదస్సుల్లో మూడవది డిట్రాయిట్ లో నిర్వహించే బాధ్యత మాపై పడింది,
            అప్పుడప్పుడే ఈ గుంపుకు డిట్రాయిట్ తెలుగు లిటరరీ క్లబ్ అనే పేరు కూడా
            స్థిరపడుతోంది. అప్పుడే అదే పేరుతో ఒక Michigan non-profit organizationగా రిజిష్టరు
            చెయ్యడం కూడా జరిగింది. కానీ ఈ సంస్థకు ‘డిట్రాయిట్ తెలుగు సాహితీ సమితి’ అని
            తెలుగు పేరు యాదృచ్ఛికంగా పెట్టింది మాత్రం చేరా గారే (కవిత్వానుభవం - వ్యాస
            
            సంకలనం (2001), చేకూరి రామారావు, పుస్తకాన్ని అంకితం చేస్తూ). తెలుగు పుస్తకాలు
            చదవడం, చదివించడం, చర్చించడం, తెలుగు సాహితీ వేత్తలతో ప్రత్యేక సమావేశాలు
            ఏర్పాటు చెయ్యడంతోపాటు వీలైనంతలో పుస్తక ప్రచురణ కూడా చేపట్టాలన్నవే
            సంస్థ ఆశయాలు.
            సాధారణ సమావేశాలకు వచ్చే సభ్యుల సంఖ్య మూడుకూ ముప్పైకీ మధ్యలో
            తారట్లాడుతున్నా, చేరుతున్న సభ్యుల సంఖ్య మాత్రం ప్రతీ సంవత్సరం
            పెరుగుతూనే ఉంది. ప్రారంభం నుండీ డిట్రాయిట్ వచ్చిన తెలుగు సాహితీ వేత్తలతో
            సమావేశాలు జరపడం ఆనవాయితీ అయ్యింది. ఈ ప్రత్యేక సమావేశాలకు సభ్యులు
            ఎక్కువగా రావడం కూడా ఆ ఆనవాయితీలో భాగమే. అన్నిరకాల, అన్నికాలాల తెలుగు
            సాహిత్యాన్ని సమంగా ఎన్నుకుని చదవడం, ఏ ఒక్క భావజాలానికి ఎక్కువ
            ప్రాముఖ్యతనివ్వకుండా సమభావంతో మెలగడం ఈ సంస్థ నిలకడకు ముఖ్య కారణం.
            ఐతే, భిన్నాభిప్రాయాల మధ్య ఒకటి రెండు సందర్భాల్లో ఘర్షణ కూడా
            లేకపోలేదు. ఉదాహరణకు, విరసం ను ఆంధ్రప్రదేశ్ ప్రభుత్వం నిషేధించినప్పుడు
            సంస్థ సభ్యులను నిరసన ప్రకటించమని అడగడం కొందరికి నచ్చలేదు. ఒకరిద్దరు తీవ్ర
            అభ్యంతరం కూడా తెలియజేశారు. భిన్నాభిప్రాయాలను గౌరవిస్తూ
            బహుజనాభిప్రాయానికి అనుగుణంగా సాగిపోతూ ఉండడమే ఈ సంస్థకు ఆయువుపట్టు.
            2002లో విశాఖపట్టణం నుండి వచ్చి ఇక్కడ ఆరునెలలపాటు సమావేశాల్లో పాల్గొన్న
            నాటక రచయిత కొత్తపల్లి బంగారరాజు గారి మాటలు ఈ సంస్థ నడిచే తీరుకు అద్దం
            పడతాయి. ఆయన విశాఖపట్టణం తిరిగి వెళ్ళిపోతూ అన్నారు: &quot;మీరు పుస్తకాలపై చేసే
            చర్చల్లో ఎంత నిర్మొహమాటంగానో, నిష్కర్షగానో ఉంటారు. కానీ ఆ గది దాటి
            బయటకు రాగానే, చర్చ అవగానే మళ్ళి ఏ అరమరికాలేని స్నేహితుల్లానే ఉంటారు. నాకు
            ఈ వాతావరణం ఎంతో నచ్చింది. ఈ అనుభవాన్ని మరవలేను.&quot; అదే వాతావరణాన్ని
            నిలుపుకోవడానికి ఎప్పుడూ ప్రయత్నిస్తూనే ఉంటాం.
            2008లో లిటరరీ క్లబ్ కు పది సంవత్సరాలు నిండిన సందర్భానికి గుర్తుగా తెలుగు
            సాహిత్యంలో విమర్శ పై సదస్సును నిర్వహించాము. అలాగే, 2009లో కొడవటిగంటి
            కుటుంబరావు, శ్రీశ్రీ, త్రిపురనేని గోపీచంద్ ల శతజయంతుల సందర్భంగా వారి
            సాహిత్యంపై సదస్సును నిర్వహించాం. ఈ రెండు సదస్సులలోనూ పాల్గొనడానికి
            అమెరికా, కెనడా, జర్మనీ, ఆంధ్రప్రదేశ్ ల నుండి ఎందరో సాహితీప్రియులు
            పాల్గొనడం ఎంత ఆనందదాయకమో చెప్పడానికి మాటలు చాలవు, ‘తెలుగు వారి
            భాషాభిమానం అంతటిది’ అనుకోవడం తప్ప!
            గత ఇరవై ఏళ్ళుగా ఎందరో తెలుగు సాహితీవేత్తలతో ఉన్న అనుబంధం
            డిట్రాయిట్ తెలుగు లిటరరీ క్లబ్ ను ఉత్తేజపరచింది. వారి ఉపన్యాసాలు, వారితో
            సంభాషణలు, చర్చలు ఎప్పటికీ మరువలేని తీపి గుర్తులు.
            మా నినాదం:
            
            తెలుగు చదవండి, చదివించండి,
            
            మాట్లాడండి</p>

         
          <!-- <p>This theme features stock photos by
            <a href="http://gratisography.com/">Gratisography</a>
            along with a custom Google Maps skin courtesy of
            <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
          <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization!</p> -->
        </div>
      </div>
    </div>
  </section>

</div>