<div class="container">

  <div class="row my-4">
      <div class="col-lg-12">
          <div class="col-md-12">
                      
            </div>
  
  <div class="col-md-12">
  <!--     <h1> డిట్రాయిట్ తెలుగు సాహితీ సమితి</h1>
      <h4> ఇరవై ఏళ్ళ పండగ</h4>
      <h4> సెప్టెంబరు 29-30, 2018</h4> -->
     
      
      

 
  డిట్రాయిట్ తెలుగు సాహితీ సమితి, " DETROIT TELUGU LITERARY CLUB" అనే పేరు మీద లాభాపేక్ష లేని సంస్థ గా ఉత్తర అమెరికా లో నమోదు చేయబడినది.
    మీరు పంపిన విరాళములు మీకు ఉత్తర అమెరికా లోనే  పన్ను రాయితీ ఇవ్వగలదు. 
    మీరు పంపిన డబ్బుకు మేము మీ చిరునామాకు గానీ, మీ ఈమెయిలు కి గానీ  మీరు విరాళం ఇచ్చినట్లు రసీదు  ఉత్తరము పంపుతాము. 
    విరాళము ఇచ్చి , ఏకారణము గానైనా రసీదు ఉత్తరం అందని వారు మమ్ము సంప్రదించవల్సినది . 

    <p>     </p>

     


    <div class="col-md-3">
  <img class="d-block w-10" src="/assets/wireflym.jpg">
  </div>

  <p>     </p>
<p>
 
DTLC కి విరాళం ఇవ్వడానికి సిద్దమైన వారు  "GiveLify "  అనే స్మార్ట్ ఫోన్ ఆప్ ద్వారా గానీ, చెక్ రూపేణా గానీ ఇవ్వగలరు.   


</p>


<p>
స్మార్ట్ ఫోన్ ఆప్ ద్వారా  విరాళము ఇద్దామని అనుకున్నవారు: స్మార్ట్ ఫోన్ లో "GiveLify " అనే ఆప్ని దిగుమతి చేసుకొని. "Detroit Telugu Literary Club" అనే Charity ని  వెతికి మీరు ఇద్దామని అనుకున్న డబ్బు పంపవచ్చు. 
</p>
<p>     </p>
<div class="col-md-3">
<img class="d-block w-10" src="/assets/wireflym2.jpg">
</div>
<p>     </p>

<p>
మరిన్ని  వివరాలకు  - https://www.givelify.com/givers/
</p>

<p>
చెక్ రూపేణా విరాళము ఇద్దామని అనుకున్నవారు -   DETROIT TELUGU LITERARY CLUB  పేరు  మీద చెక్ రాసి ఈ క్రింది చిరునామా కి పంపగలరు. 

</p>
DETROIT TELUGU LITERARY CLUB
1659 SQUIRREL VALLEY DR

BLOOMFLD HLS , MI 48304
      
<!--         <div>
  <span class="badge">Posted 2018-08-02 20:47:04</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
  <span class="label label-danger">Danger</span></div>         
       </div> -->
   
  </div>
  </div>
  </div>
  </div>

