<div class="container">

    <!-- Heading Row -->
    <div class="row my-4">
      <div class="col-lg-8">

డిట్రాయిట్ తెలుగు సాహితీ సమితి

(Detroit Telugu Literary Club)

 

2018 సంవత్సరంలో  చర్చకు ఎన్నుకున్న పుస్తకాలు, సమావేశాలు

 

ప్రదేశం: శ్రీ వేంకటేశ్వరస్వామి ఆలయ ప్రాంగణం, నోవై,మిషిగన్

 

సమయం: మధ్యాహ్నం 2:30 నుండి 5:30 గం|| వరకు

 

1/7/2018 -- ప్రజల మనిషి  (వట్టికోట ఆళ్వారుస్వామి నవల)

2/4/2018 -- విదేశ గమనే (తాడికొండ శివకుమార శర్మ కథలు)

3/4/2018 – అంధకారం లో  (రంగనాయకమ్మ నవల)

4/1/2018 – సాహిత్య హింసావలోకనం  (నండూరి పార్ధసారధి  హాస్య రచన)

5/6/2018 – హంపి నుండి హరప్పా దాకా  (తిరుమల రామచంద్ర చారిత్రక రచన)

6/3/2018 – మరీచిక  (సీతాదేవి నవల)

7/1/2018 – కతల గంప  (కథల సంకలనం - సంపాదకులు: స.వెం.రమేష్)

8/5/2018 – జయకాంతన్ కథలు  (జయకాంతన్ కథల తెలుగు అనువాదం)

 

9/29-30/2018 – డిట్రాయిట్ తెలుగు సాహితీ సమితి 20 - సంవత్సరాల వేడుకలు

 

11/4/2018 – గబ్బగీమి  (మంచికంటి  నవల)

12/2/2018 - కథ 2017 (కథల సంకలనం - సంపాదకులు: నవీన్, శివశంకర్) 

</div>
</div>
</div>
