<div class="container">

    <!-- Heading Row -->
    <div class="row my-4">
      <div class="col-lg-8">
 

  <dl class="row">

      <dt class="col-sm-9"> 2018 సంవత్సరంలో  చర్చకు ఎన్నుకున్న పుస్తకాలు, సమావేశాలు</dt>
      <dd class="col-sm-3"></dd>
 

      <dt class="col-sm-3"> ప్రదేశం:</dt>
      <dd class="col-sm-9"> శ్రీ వేంకటేశ్వరస్వామి ఆలయ ప్రాంగణం, నోవై,మిషిగన్</dd>

      <dt class="col-sm-3"> సమయం:</dt>
      <dd class="col-sm-9"> మధ్యాహ్నం 2:30 నుండి 5:30 గం|| వరకు</dd>
      
      
      </dl>

    

<dl class="row">
    <dt class="col-sm-3">1/7/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">ప్రజల మనిషి  (వట్టికోట ఆళ్వారుస్వామి నవల)</dd>

    <dt class="col-sm-3">2/4/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">విదేశ గమనే (తాడికొండ శివకుమార శర్మ కథలు)</dd>

    <dt class="col-sm-3">3/4/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">అంధకారం లో  (రంగనాయకమ్మ నవల)</dd>

    <dt class="col-sm-3">4/1/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">సాహిత్య హింసావలోకనం  (నండూరి పార్ధసారధి  హాస్య రచన)</dd>

    <dt class="col-sm-3">5/6/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">హంపి నుండి హరప్పా దాకా  (తిరుమల రామచంద్ర చారిత్రక రచన)</dd>


    <dt class="col-sm-3">6/3/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">మరీచిక  (సీతాదేవి నవల)</dd>

    <dt class="col-sm-3">7/1/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">కతల గంప  (కథల సంకలనం - సంపాదకులు: స.వెం.రమేష్)</dd>


    <dt class="col-sm-3">8/5/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">జయకాంతన్ కథలు  (జయకాంతన్ కథల తెలుగు అనువాదం)</dd>

    <dt class="col-sm-3">9/29-30/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">డిట్రాయిట్ తెలుగు సాహితీ సమితి 20 - సంవత్సరాల వేడుకలు</dd>

    <dt class="col-sm-3">11/4/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">గబ్బగీమి  (మంచికంటి  నవల)</dd>

    <dt class="col-sm-3">12/2/2018</dt>
    <dt class="col-sm-1">--</dt>
    <dd class="col-sm-8">కథ 2017 (కథల సంకలనం - సంపాదకులు: నవీన్, శివశంకర్)</dd>
    

  </dl>


</div>
</div>
</div>
