<div class="position-relative  inner">

        DTLC you tube url: https://goo.gl/5LJ2wm
        DTLC you tube QR code: Inline image 1
        
        
        Facebook link: https://www.facebook.com/telugu.dtlc
        Facebook link: https://goo.gl/EgAeZ5
        Facebook QR code
        Inline image 2
        
        email: dtlcgroup@gmail.com
        
        Yahoo groups: https://groups.yahoo.com/neo/groups/DTLCgroup/info
        DTLC yahoo group: https://goo.gl/awdZxV
        QR code: 
        Inline image 3
    </div>

