
<div class="container">

  
        <!-- Heading Row -->
        <div class="row my-4">
          <div class="col-lg-12">

   <!--      DTLC you tube url: https://goo.gl/5LJ2wm
        DTLC you tube QR code: Inline image 1
        
        
        Facebook link: https://www.facebook.com/telugu.dtlc
        Facebook link: https://goo.gl/EgAeZ5
        Facebook QR code
        Inline image 2
        
        email: dtlcgroup@gmail.com
        
        Yahoo groups: https://groups.yahoo.com/neo/groups/DTLCgroup/info
        DTLC yahoo group: https://goo.gl/awdZxV
        QR code: 
        Inline image 3
 -->




 <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
                <hr>
                <h3>సాంఘిక ప్రసార మాధ్యమం</h3>

                <button type="button btn-fb" onClick="window.open('https://www.facebook.com/telugu.dtlc');" class="btn btn-fb"><i class="fa fa-facebook pr-1"></i> Facebook</button>

<button type="button" class="btn btn-yt" onClick="window.open('https://www.youtube.com/channel/UCqYpy6myN7xB7lF_0MOeGKQ');"  ><i class="fa fa-youtube pr-1"></i> Youtube</button>

<!-- <button type="button" class="btn btn-email" onclick="window.location.href = 'contact@dtlcgroup.org';" ><i class="fa fa-envelope pr-1"></i> Email</button>
 -->
<a class="btn btn-email" href="mailto:contact@dtlcgroup.org"><i class="fa fa-envelope pr-1"></i>Email</a>
         
        </div>

      
      </div>

</div>
</div>
</div>


