
<nav class="navbar navbar-expand-lg navbar-dark special-color-dark fixed-top">
    <div class="container">
      
      <!-- a class="navbar-brand" href="#">డిట్రాయిట్ తెలుగు సాహితీ సమితి</a -->
      <a class="navbar-brand" href="#"><img src="/assets/dtlclogo.jpg"  class="img-responsive" width="200" height="50"/></a>
      <a class="navbar-brand" href="#">డిట్రాయిట్ తెలుగు సాహితీ సమితి</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/welcome">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">మా గురించి </a>
          </li>
         
          <li class="nav-item">
          <!--   <a class="nav-link" href="#">Membership</a> -->
            <a  class="nav-link" routerLink="/membership">సభ్యత్వము </a>
          </li>
          <li class="nav-item">
              <!--   <a class="nav-link" href="#">Membership</a> -->
                <a  class="nav-link" routerLink="/ebook">ebook </a>
              </li>

          <li class="nav-item">
              <a class="nav-link" routerLink="/conferences">సదస్సులు</a>
            </li>
         <!--    <li class="nav-item">
                <a class="nav-link" routerLink="/forum">చర్చలు</a>
              </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">కలిసే వివరాలు</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
<!-- <nav>
    <a routerLink="/welcome">Welcome</a>
  <a routerLink="/test">Dashboard</a>
</nav> -->
<router-outlet></router-outlet>

 <!-- Footer -->
<footer class="page-footer font-small blue py-5 special-color-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; DTLC Group 2017</p>
    </div>

  </footer> 



  <!-- Footer -->
 


