

    <!-- Navigation -->
    
    <!-- Page Content -->
    <div class="container" position-relative>

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <!--img class="img-fluid rounded" src="http://placehold.it/900x400" alt=""-->
         
                
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="/assets/flyer.JPG" alt="First slide">
                <div class="mask "></div>
            </div>
            <div class="carousel-caption">
               <!--  <h3 class="h3-responsive">Event 1</h3>
                <p>First text</p> -->
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                       <img class="d-block w-100" src="/assets/1.jpg" alt="Second slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
               <!--  <h3 class="h3-responsive">Event 2</h3>
                <p>Secondary text</p> -->
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="/assets/3.jpg" alt="Third slide">
                <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
                <!-- <h3 class="h3-responsive">Event 3</h3>
                <p>Third text</p> -->
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1> డిట్రాయిట్ తెలుగు సాహితీ సమితి</h1>
          <p>
           
            ఇరవై ఏళ్ళ పండగ
            సెప్టెంబరు 29-30, 2018         
              

          </p>
                 <a class="btn blue-grey waves-light btn-lg" routerLink="/register">నమోదు!</a>

                 <p>
                        పాల్గొన దలచిన వారు ఇక్కడ నమోదు చేసుకోవలసినది. 
                        </p>
        </div>
        
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white special-color-dark my-4 text-center">
        <div class="card-body">
          <p class="text-red m-0">తెలుగు చదవండి, చదివించండి, మాట్లాడండి.  <a class="btn-warning btn-sm" routerLink="/donate">విరాళము ఇవ్వదలచిన వారు  !</a></p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">ఇరవై ఏళ్ళ పండగ  ప్రకటన </h2>
              <p class="card-text">ఇరవై ఏళ్ళ పండగ  ప్రకటన 
                    ఈ ఇరవై ఏళ్ళ పండగ. సాహితీ సమితి సంబరాలకు తోటి సాహిత్యాభిమానులతో కలిసి సదస్సు నిర్వహించుకోవడంకన్నాసబబైనది మరొకటి ఉండబోదు. అందుకే తెలుగు సాహిత్యాభిమానులందరినీ ఈ ఇరవై ఏళ్ళ పండగ సందర్భంగా డిట్రాయిట్ కుఆహ్వానిస్తున్నాం.  
                  </p>
            </div>
            <div class="card-footer">
              <a routerLink="/conferences" class="btn blue-grey waves-light">ఇంకా.. </a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">మేము ఇప్పటి వరకు చదివిన పుస్తకములు </h2>
              <p class="card-text">మేము గత ఇరవై సంవత్సరాలుగా చదివిన పుస్తకాల వివరాలు 
                  </p>
            </div>
            <div class="card-footer">
              <a routerLink="/cb" class="btn blue-grey waves-light">ఇంకా.. </a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">ఈ సంవత్సరము చదువుతున్న పుస్తకాలు </h2>
              <p class="card-text">మేము ప్రతి నెల మొదటి ఆదివారము నోవై , మిచిగాన్ లో శ్రీ వెంకటేశ్వర గుడిలో  సాయంత్రం 2:30 నుండి 5:30 గంటల వరకు చదువుతున్న పుస్తకాల వివరాలు 
                  </p>
            </div>
            <div class="card-footer">
                    
              <a routerLink="/booksread" class="btn blue-grey waves-light">ఇంకా.. </a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->







