
<div class="container">

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">


<!-- required Field-->
  <div [hidden]="submitted">
    <h1>నమోదు వివరాలు</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group required">
        <label for="firstname">మీ పేరు</label>
        <input type="text" class="form-control" id="firstname"
               required
               [(ngModel)]="model.firstname" name="firstname"
               #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine"
             class="alert alert-danger">
          Firstname is required
        </div>
      </div>
<!-- required Field-->
      <div class="form-group required">
          <label for="lastname">మీ ఇంటి పేరు</label>
          <input type="text" class="form-control" id="lastname"
                 required
                 [(ngModel)]="model.lastname" name="lastname"
                 #lastname="ngModel">
          <div [hidden]="lastname.valid || lastname.pristine"
               class="alert alert-danger">
            Lastname is required
          </div>
        </div>

<!-- required Field-->
      <div class="form-group required">
        <label for="email">ఈమెయిలు</label>
        <input type="email" class="form-control" id="email"
        required
               [(ngModel)]="model.email" name="email" 
               #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
               class="alert alert-danger">
            Email is required
          </div>
      </div>

      <div class="form-group">
        <label for="phone">ఫోన్</label>
        <input type="text" class="form-control" id="phone"
        required
               [(ngModel)]="model.phone" name="phone"
               #phone="ngModel"
               >
        <div [hidden]="phone.valid || phone.pristine"
               class="alert alert-danger">
            Phone is required
          </div>
      </div>

     
      
      <div class="form-group">
          <label for="street1">వీధి 1</label>
          <input type="text" class="form-control" id="street1"
          
                 [(ngModel)]="model.street1" name="street1">
         
        </div>

        <div class="form-group">
            <label for="street2">వీధి 2</label>
            <input type="text" class="form-control" id="street2"
                 [(ngModel)]="model.street2" name="street2">
           
          </div>

          <!-- required Field-->
          <div class="form-group required">
              <label for="city">ఊరు</label>
              <input type="text" class="form-control" id="city"
              required
                     [(ngModel)]="model.city" name="city"
                     #city="ngModel">
              <div [hidden]="city.valid || city.pristine"
                     class="alert alert-danger">
                  City is required
                </div>
            </div>

            <!-- required Field-->
            <div class="form-group required">
                <label for="state">రాష్ట్రము</label>
                <input type="text" class="form-control" id="state"
                required
                       [(ngModel)]="model.state" name="state"
                       #state="ngModel">
                <div [hidden]="state.valid || state.pristine"
                       class="alert alert-danger">
                    State is required
                  </div>
              </div>

              <div class="form-group">
                  <label for="zip">జిప్</label>
                  <input type="text" class="form-control" id="zip"
                                       [(ngModel)]="model.zip" name="zip">
                  
                </div>

                <!-- required Field default NO radio button -->

                <div class="form-group">
                    <label for="accomdationFlag">బస ఏర్పాటు కావాలా? </label>

                    <input type="radio" value="yes" name="travel" [(ngModel)]="model.accomdationFlag"> Yes
                    <input type="radio" value="no" name="travel"  [(ngModel)]="model.accomdationFlag"> No
                                     
                  </div>

                  <div class="form-group">
                      <label for="wiilYouVolunteerTospeakFlag">సమావేశము లో మాట్లాడదలుచుకున్నారా? </label>
  
                      <input type="radio" value="yes" name="confer" [(ngModel)]="model.wiilYouVolunteerTospeakFlag"> Yes
                      <input type="radio" value="no" name="confer"  [(ngModel)]="model.wiilYouVolunteerTospeakFlag"> No
                                       
                    </div>

                    <div class="form-group">
                        <label for="localTravelNeedsFlag">మీకు స్థానిక  ప్రయాణ ఏర్పాట్లు కావాలా? </label>
    
                        <input type="radio" value="yes" name="localtravel" [(ngModel)]="model.localTravelNeedsFlag"> Yes
                        <input type="radio" value="no" name="localtravel"  [(ngModel)]="model.localTravelNeedsFlag"> No
                                         
                      </div>

                      <div class="form-group">
                          <label for="isVegetarianFlag">శాకాహరి మాత్రమే? </label>
      
                          <input type="radio" value="yes" name="food" [(ngModel)]="model.isVegetarianFlag"> Yes
                          <input type="radio" value="no" name="food"  [(ngModel)]="model.isVegetarianFlag"> No
                                           
                        </div>

     

                     
<!--Text area-->
                        <!--   <div class="form-group">
                              <label for="comments">మీరు ఇంకేమైనా చెప్పదలుచుకున్నారా?</label>
                              <input type="textarea" class="form-control" id="phone"
                              
                                     [(ngModel)]="model.comments" name="comments">
                      
                            </div> -->

                            <div class="form-group">
                                <label for="comments">మీరు ఇంకేమైనా చెప్పదలుచుకున్నారా?</label>
                                <textarea class="form-control" id="comments" rows="3"
                                [(ngModel)]="model.comments" name="comments">
                                ></textarea>
                              </div>
  
                        
                    
   


<!-- 
      <div class="form-group">
        <input type="phone" class="form-control" placeholder="Phone" id="phone" name="phone" ng-model="model.phone" ng-pattern="ph_numbr"> 
      </div>
 -->


    <!-- <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" id="email" name="email" 
      ng-model="model.email" email  ng-pattern="eml_add" ng-required="true" autocomplete="off" >
    </div> -->
 

 

     <!--  <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo"
               [(ngModel)]="model.alterEgo" name="alterEgo">
      </div> -->
 
<!--       <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power"
                required
                [(ngModel)]="model.power" name="power"
                #power="ngModel">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          Power is required
        </div>
      </div> -->
 
      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
      <!--button type="button" class="btn btn-default" (click)="newUser(); userForm.reset()">New Hero</button-->
    </form>
  </div>
 
  
   <div [hidden]="!submitted">
 
    <div class="row">
     <div> <h2> {{ model.firstname }} {{model.lastname}} గారు నమోదు చేసుకున్నందుకు మప్పిదాలు. మీ రాకకై ఎదురు చూస్తుంటాము. </h2></div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
    </div> -->
    <!-- <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ model.power }}</div>
    </div> -->
    <br>
    <!--button class="btn btn-primary" (click)="submitted=false">Edit</button> -->
  </div> 

</div>

</div>
<!-- /.col-md-4 -->

</div>
<!-- /.row -->

